div.topsq{
	width: 100%;
	height: 12em;
	border-bottom: 2px solid #533511;
	border-radius: 5px;
}

div.topsq{
	box-shadow: 0px 10px 5px #d9bb96;
}
img.logo{
	height: auto;
	width: 300px;
	margin-top: 2em;
}

/* gradient */

#grad{
	background: #ffffff;
	background: -webkit-linear-gradient(left, #ffffff, #8c5a1c);
}
/* contact info */
a.contact{
	font-family: helvetica;
	font-size: 10px;
	float: right;
	margin-right: 6em;
	margin-top: 1em;
	color: white;
	border-bottom: 2px solid #bd965b;
}
/* line */
div.line{
	border-bottom: 2px solid #bd965b;
	margin-top: 3px;
}
div.line2{
	border-bottom: 2px solid #bd965b;
	width: 110px;
	box-shadow: 0px 5px 5px #533511;
}
/*banner*/
img.ban{
	text-align: center;
	height: auto;
	width: 100%;
	margin-top: 2em;
	box-shadow: 0px 10px 5px #d9bb96;
}
/*mission statement*/
h1.miss{
	margin-top: 2em;
	text-align: center;
	float: left 50%;
}
p.miss{
	margin-top: 2em;
	margin-left: 8em;
	text-align: center;
	width: 800px;
	height: auto;
}
/*vision statement*/
h1.vision{
	margin-top: 2em;
	text-align: center;
	float: left 50%;
}
p.vision{
	margin-top: 2em;
	margin-left: 8em;
	text-align: center;
	width: 800px;
	height: auto;
}
/*links*/
a.link1{
	margin-left: 30%;
	margin-right: auto;
	float: left;
	margin-top: 1em;
}
a.link2{
	margin-left: 5%;
	margin-right: auto;
	float: left;
	margin-top: 1em;
}
a.link3{
	margin-left: 5%;
	margin-right: auto;
	float: left;
	margin-top: 1em;
}
a:link, a:visited {
    color: #533511;
    text-align: center;	
    text-decoration: none;
    display: inline-block;
    font-family: arial, helvetica, sans-serif;
}
a.link{
	color: #533511;
	margin-left: 1.5em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
}
a:hover, a:active {
    background-color: lightgrey;
}
